.Container {
  height: 38%;
  width: 45%;
  position: absolute;
  bottom: 2.5%;
  left: 2%;
  background-color: rgb(180, 178, 178);
}

.Header {
  font-size: 28px;
}

.Bookmakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 70%;
  width: 85%;
  overflow: scroll;
  margin: 2% auto 0;
  border-bottom: 2px solid gray;
}

.Bookmakers::-webkit-scrollbar {
  display: none;
}

.Bookmaker {
  height: 30%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.Bookmaker:hover {
  background-color: grey;
}

@media only screen and (max-width: 1050px) {
  .Header {
    font-size: 20px;
  }
  .Container {
    width: 43%;
  }
  .Bookmaker {
    font-size: 16px;
  }
}
@media only screen and (max-width: 800px) {
  .Container {
    width: 55%;
  }
}
