.Container {
  height: 48%;
  width: 70%;
  margin-left: 2%;
  border-bottom: 2px solid grey;
}

.Header {
  height: 15%;
  font-size: 24px;
  text-align: left;
  margin: 0 0 1% 4%;
  letter-spacing: 2px;
}

.Games {
  height: 80%;
  padding-left: 2%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  background-color: rgb(180, 178, 178);
}

.Games::-webkit-scrollbar {
  display: none;
}

.FixtureContainer {
  min-width: 25%;
  width: 90%;
  height: 100%;
}

.Teams {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.6vw;
  position: relative;
}

.Fixture {
  text-decoration: none;
  color: black;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Fixture:hover {
  text-decoration: underline;
}

.TeamLogos {
  height: 45px;
  width: 45px;
  margin: 3% auto;
}

.Date {
  height: 15%;
  margin-top: auto;
  font-size: 20px;
}

@media screen and (max-width: 1050px) {
  .Container {
    width: 68%;
    height: 45%;
    position: relative;
    top: 1.5%;
  }
  .FixturesContainer {
    min-width: 30%;
    font-size: 2.4vw;
  }
  .Date {
    position: relative;
    bottom: 3%;
    font-size: 2.4vw;
  }
}

@media only screen and (max-width: 800px) {
  .Container {
    width: 55%;
  }

  .TeamLogos {
    height: 40px;
    width: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .FixturesContainer {
    min-width: 45%;
    font-size: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .Container {
    width: 45%;
  }
  .FixturesContainer {
    min-width: 40%;
  }
}
