.Container {
  height: 50%;
  width: 70%;
  margin-left: 2%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.Container::-webkit-scrollbar {
  display: none;
}

.Fixture {
  text-decoration: none;
  color: black;
}

.Fixture:hover {
  text-decoration: underline;
}

.FixturesContainer {
  min-width: 20%;
  max-width: 20%;
  height: 99%;
  border: 1px black dashed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 130%;
}

.TeamLogos {
  height: 60px;
  width: 60px;
  margin: 0 auto;
}
