.TeamContainer {
  width: 19%;
  list-style: none;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.5vw;
  margin-right: 2%;
}

.Player {
  border-bottom: 2px solid grey;
  width: 100%;
  text-align: left;
}
.Player:hover {
  cursor: pointer;
}

.Shirt {
  height: 18px;
  width: 18px;
}

.Unreleased {
  align-self: flex-start;
}
