.Container {
  height: 80%;
  width: 80%;
  margin: 2% auto;
  background-color: green;
  border: 2px solid black;
  overflow: scroll;
}

.MatchHeader {
  width: 70%;
  height: 25%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.MatchHeader h2 {
  padding: 0 5%;
}

.MatchContent {
  width: 200%;
  height: 70%;
  background-color: blue;
  display: flex;
}

.LineupContainer {
  height: 100%;
  width: 50%;
  background-color: yellow;
}
.StatsContainer {
  height: 100%;
  width: 50%;
  background-color: teal;
}
