.Container {
  height: 80%;
  width: 80%;
  margin: 2% auto;
  overflow: hidden;
}

.MatchHeader {
  width: 70%;
  height: 22%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.MatchHeader h2 {
  padding: 0 5%;
}
/*-------------------------------------------------*/

.Buttons {
  width: 20%;
  height: 5%;
  margin: 0 auto;
  display: flex;
  position: relative;
  top: 3%;
  z-index: 10;
}

.LineupButton {
  height: 100%;
  width: 50%;
  background-color: black;
}
.LineupButton:hover {
  cursor: pointer;
  background-color: red;
}

.StatsButton {
  height: 100%;
  width: 50%;
  background-color: wheat;
}
.StatsButton:hover {
  cursor: pointer;
  background-color: yellow;
}

/*-------------------------------------------------*/
.MatchContent {
  width: 200%;
  height: 73%;
  display: flex;
  transition: all 0.5s;
}

.MatchContentLineup {
  width: 200%;
  height: 73%;
  display: flex;
  transition: all 0.5s;
  transform: translateX(-50%);
}

.LineupContainer {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.StatsContainer {
  height: 100%;
  width: 50%;
}
