.Container {
  height: 80%;
  width: 80%;
  margin: 2% auto;
  background-color: green;
  border: 2px solid black;
  overflow: scroll;
}

.MatchHeader {
  width: 70%;
  height: 25%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.MatchHeader h2 {
  padding: 0 5%;
}
/*-------------------------------------------------*/

.Buttons {
  width: 10%;
  height: 5%;
  margin: 0 auto;
  display: flex;
  position: relative;
  top: 3%;
}

.LineupButton {
  height: 100%;
  width: 50%;
  background-color: black;
}
.LineupButton:hover {
  cursor: pointer;
  background-color: red;
}

.StatsButton {
  height: 100%;
  width: 50%;
  background-color: wheat;
}
.StatsButton:hover {
  cursor: pointer;
  background-color: yellow;
}

.Checkbox {
}

/*-------------------------------------------------*/
.MatchContent {
  width: 200%;
  height: 73%;
  display: flex;
}

.LineupContainer {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.StatsContainer {
  height: 100%;
  width: 50%;
}
