.Container {
  height: 80%;
  width: 96%;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Match {
  height: 8%;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0.3%;
  border-bottom: 2px dashed grey;
}

.Match img {
  height: 100%;
}

.Match:hover {
  cursor: pointer;
}

.Link {
  color: black;
  width: 70%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Link:hover {
  background-color: lightgray;
}

.TeamName {
  width: 25%;
  text-align: center;
}
