.Container {
  font-size: 1.4vw;
  height: 80%;
  width: 90%;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header {
  font-size: 2.5vw;
  margin-bottom: 1%;
}

.Match {
  height: 8%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0.3%;
  border-bottom: 2px dashed grey;
}

.Match img {
  height: 100%;
}

.Match:hover {
  cursor: pointer;
}

.Link {
  color: black;
  width: 60%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Link:hover {
  background-color: lightgray;
}

.TeamName {
  width: 25%;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .Match {
    font-size: 2vw;
  }
}
