.Container {
  height: 80%;
  width: 96%;
  border: 2px black solid;
  margin: 1% auto;
}

.PlayerContainer {
  display: flex;
  width: 100%;
  height: 4.5%;
  justify-content: space-around;
  align-items: center;
}

.PlayerContainer h4 {
  width: 20%;
  margin: 0;
}

.PlayerContainer h4:hover {
  cursor: pointer;
  text-decoration: underline;
}

.PlayerContainer div {
  width: 7%;
}

.HeaderContainer {
  width: 100%;
  height: 7%;
  margin-bottom: 0.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 100%;
  border-bottom: 3px solid black;
}

.HeaderContainer h4 {
  width: 20%;
  margin: 0%;
  font-size: 160%;
}

.HeaderContainer div {
  width: 7%;
}

/*----------------------------*/

.BackgroundGrey {
  background-color: grey;
}
