.Container {
  height: 80%;
  width: 96%;
  background-color: rgb(180, 178, 178);
  margin: 1% auto;
}

.PlayerContainer {
  display: flex;
  width: 100%;
  height: 4.5%;
  justify-content: space-around;
  align-items: center;
  font-size: 1vw;
}

.PlayerContainer:hover {
  background-color: rgb(110, 107, 107);
}

.PlayerContainer h4 {
  width: 20%;
  margin: 0;
}

.PlayerContainer h4:hover {
  cursor: pointer;
  text-decoration: underline;
}

.PlayerContainer div {
  width: 7%;
}

.Team {
  width: 20%;
  text-decoration: none;
  color: black;
}

.Team:hover {
  text-decoration: underline;
}

.HeaderContainer {
  width: 100%;
  height: 7%;
  margin-bottom: 0.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1vw;
  border-bottom: 3px solid black;
}

.HeaderContainer h4 {
  width: 20%;
  margin: 0%;
  font-size: 160%;
}

.HeaderContainer div {
  width: 7%;
}

@media only screen and (max-width: 1100px) {
  .PlayerContainer {
    font-size: 1.4vw;
  }
  .HeaderContainer div {
    font-size: 1.3vw;
  }
}
