.Container {
  height: 85%;
  width: 100%;
  padding-top: 3%;
}

.Image {
  margin-bottom: 2%;
}

.TeamPages {
  width: 35%;
  height: 8%;
  display: flex;
  float: left;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 15%;
}

.Page {
  font-size: 1.5vw;
  text-decoration: none;
  color: black;
}

.Page:hover {
  text-decoration: underline;
}
