.Container {
  height: 85%;
  width: 100%;
  padding-top: 1%;
}

.Image {
  margin-bottom: 2%;
}

.TeamView {
  width: 35%;
  height: 8%;
  background-color: yellow;
  display: flex;
  float: left;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 15%;
}

.TeamView div {
  font-size: 1.5vw;
}
