.Container {
  height: 15%;
  width: 100%;
  background-color: rgb(221, 157, 39);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.Logo {
  height: 100%;
}

.Nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 70%;
  font-size: 26px;
}

.NavItem {
  color: black;
  text-decoration: none;
  width: 25%;
  transition: padding 0.4s;
}

.NavItem:hover {
  cursor: pointer;
  border-bottom: 2px solid blue;
  background-color: rgb(228, 175, 77);
  padding-bottom: 2%;
}
