.Container {
  height: 80%;
  width: 20%;
  border: 2px black solid;
  box-shadow: 4px 4px grey 2px;
  float: right;
  position: absolute;
  bottom: 2.5%;
  right: 2%;
  box-sizing: border-box;
  padding: 0%;
}

.Team {
  box-sizing: border-box;
  padding: 0%;
  font-size: 80%;
  display: flex;
  width: 100%;
  height: 4.44%;
  margin-bottom: 0.6%;
  justify-content: space-around;
  border-bottom: 1px grey dashed;

  align-items: center;
}

.Rank,
.Points,
.Played,
.Difference {
  width: 12%;
}

.Name {
  width: 45%;
  text-decoration: none;
  color: black;
}

.Name:hover {
  text-decoration: underline;
}
