.Container {
  height: 90%;
  width: 20%;
  border: 2px black solid;
  float: right;
  position: relative;
  bottom: 97%;
  right: 2%;
  box-sizing: border-box;
  padding: 0%;
}

.Team {
  box-sizing: border-box;
  padding: 0%;
  font-size: 80%;
  display: flex;
  width: 100%;
  height: 4.44%;
  margin-bottom: 0.6%;
  justify-content: space-around;
  border-bottom: 1px grey dashed;

  align-items: center;
}

.Rank {
  width: 12%;
}
.Name {
  width: 45%;
}
.Played {
  width: 12%;
}
.Difference {
  width: 12%;
}
.Points {
  width: 12%;
}
