.Container {
  height: 80%;
  width: 96%;
  border: 2px black solid;
  margin: 1% auto;
}

.Team {
  box-sizing: border-box;
  padding: 0%;
  font-size: 120%;
  display: flex;
  width: 100%;
  height: 3.3%;
  margin-bottom: 0.6%;
  justify-content: space-around;
  align-items: center;
}

.Team:hover {
  background-color: rgb(110, 107, 107);
}

.Rank,
.Points,
.Played,
.Difference {
  width: 12%;
}
.Name {
  width: 45%;
  text-decoration: none;
  color: black;
}

.Name:hover {
  text-decoration: underline;
}
