.Container {
  height: 100%;
  width: 96%;
  border: 2px black solid;
  float: right;
  position: relative;
  bottom: 82%;
  right: 2%;
  box-sizing: border-box;
  padding: 0%;
  margin: 1% auto;
}

.Team {
  box-sizing: border-box;
  padding: 0%;
  font-size: 120%;
  display: flex;
  width: 100%;
  height: 3.3%;
  margin-bottom: 0.6%;
  justify-content: space-around;
  align-items: center;
}

.Rank {
  width: 12%;
}
.Name {
  width: 45%;
}
.Played {
  width: 12%;
}
.Difference {
  width: 12%;
}
.Points {
  width: 12%;
}
