.Container {
  height: 38%;
  width: 23%;
  position: absolute;
  left: 49%;
  bottom: 2.5%;
  font-size: 1.8vw;
  background-color: rgb(180, 178, 178);
  margin: 0;
}

.Container h4 {
  margin-bottom: 4%;
}

.PlayerContainer {
  width: 100%;
  height: 15%;
  display: flex;
  margin-bottom: 1%;
}

.NameAndTeam {
  width: 70%;
  height: 90%;
  font-size: 1vw;
}

.Name {
  width: 100%;
  margin: 0;
  padding: 0;
}
.Name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.Link {
  width: 100%;
  text-decoration: none;
  color: black;
  position: relative;
  bottom: 20%;
}
.Link:hover {
  text-decoration: underline;
}
.Link h5 {
  margin: 0;
  padding: 0;
  height: 100%;
}

.Goals {
  width: 30%;
  height: 100%;
}

@media screen and (max-width: 1050px) {
  .Container {
    left: 47%;
  }
  .Goals {
    font-size: 16px;
  }
  .NameAndTeam {
    font-size: 12px;
  }
}

@media screen and (max-width: 1000px) {
  .Goals {
    font-size: 16px;
  }
  .NameAndTeam {
    font-size: 12px;
  }
}
@media screen and (max-width: 800px) {
  .Container {
    display: none;
  }
}
