.Container {
  height: 80%;
  width: 90%;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.BookmakersContainer {
  display: flex;
  width: 90%;
  margin-bottom: auto;
  height: 15%;
  flex-wrap: wrap;
  border-bottom: 3px solid grey;
  position: relative;
  left: 4.8%;
  overflow: scroll;
}

.BookmakersContainer::-webkit-scrollbar {
  display: none;
}

.Bookmaker {
  height: 30px;
  min-width: 90px;
  margin: auto;
  padding: 0 2px;
  cursor: pointer;
}
.BookmakerActive {
  height: 30px;
  min-width: 90px;
  margin: auto;
  padding: 0 2px;
  background-color: grey;
}

.Bookmaker:hover {
  background-color: grey;
}

.FixturesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10%;
  border-right: 3px solid grey;
}

.Fixture {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.FixtureActive {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: grey;
}

.Fixture:hover {
  background-color: grey;
}

.TeamLogo {
  height: 30px;
  width: 30px;
}

.OddsContainer {
  height: 85%;
  width: 90%;
  position: relative;
  left: 5%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .OddsContainer {
    height: 80%;
    width: 15%;
  }
  .FixturesContainer {
    width: 15%;
  }
  .BookmakersContainer {
    left: 9.5%;
  }
}
