* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(216, 194, 194);
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  overflow: hidden;
}

li {
  list-style: none;
}
