.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: green;
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  overflow: hidden;
}

.Active {
  background-color: yellow;
}
