.Container {
  height: 80%;
  width: 80%;
  z-index: 20;
  background-color: lightblue;
  position: absolute;
  left: 10%;
  bottom: 10%;
  box-shadow: 4px 4px 10px grey;
}

.Name {
  margin: 2% 0;
}

.Team {
  margin-bottom: 2%;
}

.Container p {
  margin-bottom: 1%;
}
