.Container {
  height: 80%;
  width: 50%;
  z-index: 20;
  background-color: lightblue;
  position: absolute;
  left: 25%;
  bottom: 10%;
  box-shadow: 4px 4px 10px grey;
}

.Name {
  margin: 3% 0;
}

.Team {
  margin-bottom: 3%;
}

.Container p {
  margin-bottom: 2%;
}
